@model MessageViewModel


<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="@($"#flush-collapse{Model.Id}")" aria-expanded="false" aria-controls="@($"flush-collapse{Model.Id}")">
            <b><span>@($"[{Model.Date}]") Author: </span></b><span>@($"{Model.SenderName}") </span><span><b>Title: </b>@($"{Model.Title}")</span>
        </button>
    </h2>
    <div id="@($"flush-collapse{Model.Id}")" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <p style="margin-left: 10px">@Model.Text</p>
    </div>
</div>
